/*
 * CSS Styling for header
 */

 .app-header {
  height: 400px;
  max-height: 400px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  background: orange url("/images/asfalt-dark.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 101px;
}

.app-header > img {
  padding-top: 30px;
}

