
/*
 * CSS Styling for tweet elements
 */

article.tweet {
  width: 95%;
  margin: auto;
  margin-bottom: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  border: black 4px solid;
  padding: 30px;
}

article.tweet:hover {
  box-shadow: 10px 10px rgba(64, 86, 161, 0.35);
  font-weight: 400;
}

article.tweet:hover .name {
  font-weight: 400;
}

article.tweet .tweet-footer .icons {
  display: flex;
  margin-top: 15px;
  color: #4056A1;
  opacity: 50%;
  justify-content: space-between;
}

article.tweet:hover .icons {
  opacity: 100%;
}

article.tweet:hover .avatar {
  opacity: 100%;
}

article.tweet .tweet-header {
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

article.tweet .tweet-header .avatar {
  opacity: 75%;
  margin-right: 20px;
}

article.tweet .tweet-header .name {
  flex-grow: 1;
  text-align: left;
}

article.tweet .tweet-header .handle {
  opacity: 0%;
  color: #4056A1;
}

article.tweet:hover .handle {
  opacity: 80%;
  color: #4056A1;
}

article.tweet .tweet-content p {
  margin: 20px 0;
  text-align: left;
  width: 100%;
}

article.tweet .tweet-footer {
  display: flex; 
  justify-content: space-between;
  font-size: 0.75em;
  border-top: black 4px solid;
  margin: 20px 0;
}

article.tweet .tweet-footer .icons i { 
  margin: 0 5px;
}

article.tweet .tweet-content {
  word-wrap: break-word;
}

@media only screen and (max-width: 1024px) {
  article.tweet .tweet-header .handle {
    opacity: 100%;
    color: #4056A1;
  }
}